.gitignore
.vscode/**
.github/**
.git/**
.tmp-*
.tmp-*/**
node_modules/**
docs/**
website/**
media/screenshots/**
.alpackages/**
coverage/**
src/**
test/**
*.ts
tsconfig.json
package-lock.json
*.vsix
.env*
**/*.map
